.icon-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.icon-bookmark {
    display: inline-block;
    width: 13px;
    height: 19px;
    background-color: #F03838;
    -webkit-mask: url(../images/icon-bookmark-fill.svg) center top no-repeat;
    mask: url(../images/icon-bookmark-fill.svg) center top no-repeat;
}

.icon-comments {
    display: inline-block;
    width: 18px;
    height: 19px;
    background: url(../images/icon-bubble.svg) center top no-repeat;
    background-size: 18px 18px;
}


.icon-tags {
    display: inline-block;
    width: 19px;
    height: 16px;
    background: url(../images/icon-tags.svg) center center no-repeat;
    background-size: 19px 16px;
}

.icon-categories {
    display: inline-block;
    width: 19px;
    height: 16px;
    background: url(../images/icon-bookmark-fill.svg) center center no-repeat;
    background-size: 19px 16px;
}
